* {
    background-color: hsl(264, 100%, 57%);
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "DM Mono", sans-serif;
    color: #040DE1; 
}

.left-card {
    display: flex;
    align-items: center;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

body{
    margin: 0;
    display: flex;
}

h1 {
    color: aliceblue;
}

span, h3{
    background-color: aliceblue;
}

a {
    background-color: #d5d6e6;
    text-decoration: none;
    background: transparent;
    color: #2c0e67;
}

main.cards {
    display: flex;
    padding: 32px;
    border-top: 0;
    margin-top: 325px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    padding: 4rem 1.5rem;
    border-radius: 8px;
    max-width: 256px;
    margin-left: 32px;
    width: 200px;
    height: 350px;
    box-shadow: 20px 20px 50px -30px #2c0e67;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card h3 {
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 100%;
    margin-bottom: 16px;
}


main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 800;
    color: #d5d6e6;
    background: linear-gradient(to right, #ddcfff, #040DE1);
}   

@media screen and (max-width: 720px) {

    main.cards, body {
        flex-direction: column;
        border-top: 32px;
        padding: 0;
    }
    

    main.cards section.card, body {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }
    
    main.cards section.card button {
        font-size: 70%;
    }

   .left-card {
    min-width: none;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
   }
}